.libs
.deps
Makefile.in
glob:Makefile
aclocal.m4
autom4te.cache
config.h.in
config.h
autotools/
glob:configure
missing
glob:*.pc
glob:*.lo
glob:*.la
glob:*.o
glob:*.a
glob:*~
stamp-h1
depcomp
install-sh
libtool
ltmain.sh
m4
doc/html
config.log
config.status
test/mouse
configure
